<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zcode Education Activation Email</title>
    <style>
      body {
      font-family: 'Arial', sans-serif;
      background-color: #f4f4f4;
      color: #333;
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 600px;
      margin: 20px auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
      color: #007bff;
    }

    p {
      font-size: 16px;
      line-height: 1.6;
    }

    footer {
      margin-top: 20px;
      text-align: center;
      font-size: 12px;
      color: #888;
    }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 style="text-transform: capitalize;">Hello, <%= user.name %>!</h1>
      <p style="width: 100%;">This is your activation code for Zcode : <span style="font-weight: bold;"><%=activationCode  %></span></p>
      <p>This activation code is only valid for next 5 minutes</p>
      <p>Ignore the message if you didn't try to register</p>
      <footer>
        Sent with ❤️ from Zcode edu
      </footer>
    </div>
  </body>
</html>
