<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zcode Education Activation Email</title>
    <style>
      * {
        font-family: sans-serif;
        padding: 0;
        /* box-sizing: border-box; */
      }
      .container {
        width: 600px;
        background-color: rgb(218, 218, 166);
        padding: 0%;

        border-radius: 5px;
      }
      .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: rgb(195, 161, 227);
        border-radius: 5px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h2>Welcome to Zcode <%= user.name %>,</h2>
      </div>
      <div class="bodyContainer">
        <p style="text-transform: uppercase">
          Thank you for registering with Zcode!
        </p>
        <p
          style="text-transform: uppercase; font-size: 1.1em; font-weight: 600"
        >
          your activation code is : <%=activationCode %>
        </p>
        <p>Please enter the code on the activation code with in 5 minutes</p>
        <p>
          If you did not register for Zcode account, please ignore this email
        </p>
        <p>Feel free to contact us for more details : 9999999999</p>
      </div>
    </div>
  </body>
</html>
